NODE_ENV=development
PORT=5000
# Local server DB (Postgres)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gaddiel_erp
JWT_SECRET=DjllJLKJLjoiu79898hkih@hkj&^%kjkjhILO8
OTP_GATEWAY_URL=http://cloud.smsindiahub.in/api/mt/SendSMS
API_KEY=l6sjK62rKU6TdqGgo5yVOA
SENDGRID_ID=GADIEL
CHANNEL=Trans